.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.emploginpage{
  color:red;
  background-color: lightpink;
}

.register-form{
  box-sizing: border-box;
  background-color: rgb(235, 116, 134);
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

.btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .navlink{
      color:'#545e6f';
      background:'#f0f0f0';
  }

  .mainbanner{
    height: 600px;
    width: 100%;
    background-size: cover;
}

.mainbanner1{
  height: 600px;
  width: 100%;
  background-size: cover;
}

.bannercover1{
  height: 100%;
  width: 100%;
  background: #03030342;
  text-align: center;
  color: white;
}

.bannercover{
    height: 100%;
    width: 100%;
    background: rgba(3, 3, 3, 0.762);
    text-align: center;
    color: white;
}

.bannercover1 h1{
  position: relative;
  top: 35%;
  font-size: 30px;
}

.bannercover h1{
    position: relative;
    top: 35%;
    font-size: 70px;
}

.span{
    color: red;
}

.omp{
  color: red;
}